{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    <link type="text/css" href="{% static 'rooms/css/styles.css' %}" rel="stylesheet" />-->
</head>
<body>
{% block main_menu %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav nav-pills">
            {% for m in menu %}
            <li class="nav-item">
                <a href="{% url m.url_name %}" class="nav-link link-dark px-2" aria-current="page">
                    {{ m.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
            <a>{{user.username}}</a> | <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
            {% endif %}

        </div>
    </header>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div class="container">
    <footer class="py-3 my-4">
        <hr>
        <p class="text-center text-muted">© 2023 SokAnn, Inc</p>
    </footer>
</div>
{% endblock %}

</body>
</html>